<script
  type="application/json"
  data-section-type="text-columns-with-images"
  data-section-id="{{ section.id }}"
>
</script>

{%- assign id = section.id -%}

{% comment %} Content settings {% endcomment %}
{%- assign blocks = section.blocks -%}
{%- assign title = section.settings.title | escape -%}
{% comment %} End content settings {% endcomment %}

{% comment %} Advanced {% endcomment %}
{%- assign css_class = section.settings.css_class -%}
{%- assign custom_css = section.settings.custom_css -%}

{% comment %} Section specific CSS {% endcomment %}
{% style %}
  {%
    render 'css-loop',
    css: custom_css,
    id: id
  %}
{% endstyle %}

<section class="section {{ css_class }} info-signpost">
  {% if title != blank %}
      <div class="one-whole column">
        <h2 class="title center">
          {{ title }}
        </h2>
      </div>
    {% endif %}
  <div class="container is-hidden-mobile-only">
    

    {% for block in blocks %}
      {% comment %} Content settings {% endcomment %}
      {%- assign image = block.settings.image -%}
      {% comment %} End content settings {% endcomment %}

      <div class="{% render 'column-width', value: blocks.size %} column {% if blocks.size > 3 %}medium-down--one-half{% else %}medium-down--one-whole{% endif %} text-column" {{ block.shopify_attributes }}>
        <div class="info-signpost_card border-style--{{ block.settings.border_style }} text-align--{{ block.settings.align_text }}">
        {% if block.settings.enable_image %}
          {% if image != blank %}
            {%
              render 'image-element',
              image: image.src,
              alt: image.alt
            %}
          {% else %}
            <p>
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            </p>
          {% endif %}
        {% endif %}

        {% if block.settings.title != blank %}
          <h3 class="{{ block.settings.heading_size }}">{{ block.settings.title }}</h3>
        {% endif %}

        {% if block.settings.text != blank %}
          <div class="rte-setting">
            {{ block.settings.text }}
          </div>
        {% endif %}

        {% if block.settings.button_label != blank and block.settings.button_link != blank %}
          <a href="{{ block.settings.button_link }}" class="text-columns-with-images__button global-button global-button--text">{{ block.settings.button_label | escape }}</a>
        {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="info-signpost_slider is-hidden-desktop-only">
     {% for block in blocks %}
    {% comment %} Content settings {% endcomment %}
      {%- assign image = block.settings.image -%}
      {% comment %} End content settings {% endcomment %}
  		<div class="carousel-cell">
    		<div class="info-signpost_card border-style--{{ block.settings.border_style }} text-align--{{ block.settings.align_text }}">
        {% if block.settings.enable_image %}
          {% if image != blank %}
            {%
              render 'image-element',
              image: image.src,
              alt: image.alt
            %}
          {% else %}
            <p>
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            </p>
          {% endif %}
        {% endif %}

        {% if block.settings.title != blank %}
          <h3 class="{{ block.settings.heading_size }}">{{ block.settings.title }}</h3>
        {% endif %}

        {% if block.settings.text != blank %}
          <div class="rte-setting">
            {{ block.settings.text }}
          </div>
        {% endif %}

        {% if block.settings.button_label != blank and block.settings.button_link != blank %}
          <a href="{{ block.settings.button_link }}" class="text-columns-with-images__button global-button global-button--text">{{ block.settings.button_label | escape }}</a>
        {% endif %}
        </div>
    	</div>
     {% endfor %}
</div>
</section>

<style>
.carousel-cell {
  width: 100%;
  margin-right: 10px;
}


</style>

<script>
  $(document).ready(function(){
    if($(window).width() <= 798){
    $('.info-signpost_slider').flickity({
      // options
      wrapAround: true,
      pageDots: true,
      groupCells: true, 
      contain: true
    });
    }
  });
</script>

<style>
  {% if section.settings.section_bg != blank %}
  #shopify-section-{{ section.id }}  {
  background: {{ section.settings.section_bg }};
  padding: {{ section.settings.top_section }};  
  }
  {% endif %}
 {% if section.settings.section_text-color != blank %}
  #shopify-section-{{ section.id }} h2, 
  #shopify-section-{{ section.id }} .rte-setting {
  color: {{ section.settings.section_text-color }}
  }
  {% endif %}
 
</style>

{% schema %}
{
  "name": "Info Signpost",
  "class": "shopify-section--text-columns-with-images",
  "settings": [
	{
      "type": "text",
      "id": "top_section",
      "label": "Top Bottom Spacing"
    },
	{
      "type": "color",
      "id": "section_bg",
      "label": "Section Background"	
    },
	{
      "type": "color",
      "id": "section_text-color",
      "label": "Section Heading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Text columns with images"
    },
    {
      "type": "header",
      "content": "Advanced"
    },
    {
      "type": "paragraph",
      "content": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS"
    }
  ],
  "blocks": [
    {
      "type": "text_block",
      "name": "Column",
      "limit": 5,
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_image",
          "label": "Show image",
          "default": true
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Add a title or tagline"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "Heading size",
          "default": "regular_text",
          "options": [
            {
              "value": "regular_text",
              "label": "Regular"
            },
            {
              "value": "large_text",
              "label": "Large"
            }
          ]
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.</p>"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "select",
          "id": "align_text",
          "label": "Text alignment",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "select",
          "id": "border_style",
          "label": "Border style",
          "default": "none",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "box",
              "label": "Box"
            },
            {
              "value": "quote",
              "label": "Quote"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Info Signpost",
      "category": "Text",
      "blocks": [
        {
          "type": "text_block"
        },
		{
          "type": "text_block"
        },
        {
          "type": "text_block"
        }
      ]
    }
  ],
  "templates": [
    "index",
    "product",
    "page"
  ]
}

{% endschema %}